/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
}


/*Utils*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}


/*First Section*/

.full-page{
    height: 100vh;
    background-color: #FF0000;
    position: relative;
}

.position-img{
    background-image: url("../img/01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    font-size: 30px;
    color: #FFDC00;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/*Second Section*/
.full-page-second{
    height: 100vh;
    background-color: #008000;
    position: relative;
}

.position-img-second{
    background-image: url("../img/02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    font-size: 30px;
    color: #FFDC00;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/*Third Section*/
.full-page-third{
    height: 100vh;
    background-color: #FFFF00;
    position: relative;
}

.position-img-third{
    background-image: url("../img/03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-img-third h1{
    text-align: center;
    font-size: 30px;
    color: #008000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/*Menù*/
#menu{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 15px;

}

li{
    display: inline;
    list-style-type: none;
    font-size: 14px;
    margin-right: 15px;
}

a{
    display: inline-block;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}
